:root {
    --primary-white: #FFFFFF;
    --secondary-gray: #c0c0c0;
    --btn-Blue: #167BF7;
    --bgColor: #00030C;
    --primary-font: 'Inter, sans-serif';
}

body {
    background-color: var(--bgColor);
    color: var(--primary-white);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.mainSection {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--btn-Blue);
    border-radius: 5px;
    padding: 1em;
    color: var(--primary-white);
    display: block;
    text-decoration: none;
    margin: 1em;
}

.button__second {
    background-color: transparent;
    border: 2px solid var(--primary-white);
}

.container__title {
    font-size: 28px;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0,0,0);
    color: #f7f8f9;
}

.container__warning {
    font-size: 12px;
    color: var(--secondary-gray);
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__box {
    margin: 0 6em;
}

.secondary__Image {
    width: 80%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--primary-white);
    margin-bottom: 0.1;
}

.description__text {
    color: var(--secondary-gray);
}

.secondary__button {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    padding: 2em;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px ;
    color: var(--primary-white);
}

.list__item {
    font-size: 32px;
    color: var(--primary-white);
}